@media (max-width:1151px){
    html{
        font-size: 15px;
    }
    .container-fluid{
        max-width: 1050px;
    }
    .ad-container{
        *{
            max-width: 640px!important;
        }
    }

    .block-photos {
        height: 24rem;
        padding-top: 1.8rem;
    }
    
    .grid-lead2{
        .card-text{
            display: none;
        }
        .card-title{
            margin-bottom: 0.4rem;
        }
    }
    
}