<?php include_once('_inc/functions.php'); get_header('News Page - category', '', 'archive'); ?>


<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-sm">
                <h1 class="page-title" >ক্যাটাগরিঃ এমপিও</h1>

                <div class="row">
                <?php for($i=1; $i<=21; $i++): ?>
                <div class="col-4">
                    <?php get_part('others/grid'); ?>
                </div>
                <?php endfor; ?>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center pagination-sm">
                    <li class="page-item">
                        <a class="page-link npl" href="#" aria-label="Previous">
                            আগের পাতা
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">১</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">২</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">৩</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">৪</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">৫</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link npl" href="#" aria-label="Next">
                            পরের পাতা
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
        <!-- col -->
        <div class="col-sm" style="max-width: 325px;">
            <?php get_part('others/sidebar'); ?>
        </div>
    </div>
    <!-- row -->
</div>




<?php get_part('footers/footer'); ?>