<?php include_once('_inc/functions.php'); get_header('News Page - homepage', '', 'homepage'); ?>


<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-8">
                    <?php get_part('others/grid-lead1'); ?>
                </div>
                <div class="col-4">
                    <?php get_part('others/grid', 'grid-lead2'); ?>
                </div>
                <div class="col-4">
                    <?php get_part('others/grid', 'grid-lead3'); ?>
                </div>
                <div class="col-4">
                    <?php get_part('others/grid', 'grid-lead3'); ?>
                </div>
                <div class="col-4">
                    <?php get_part('others/grid', 'grid-lead3'); ?>
                </div>
            </div>
            <div class="row">
                <?php for($i=1; $i<=4; $i++): ?>
                <div class="col-6">
                    <?php get_part('others/grid-vartical', 'grid-lead4'); ?>
                </div>
                <?php endfor; ?>
            </div>
        </div>
        <div class="col-sm" style="max-width:  445px;" id="sidebar">
            <div class="extra-ad float-left mx-2">
                <?php get_part('others/ad', ['l'=>'ad-tall2.png'] ); ?>
            </div>
            <div class="widget widget-latest pl-3" style="margin-left: 120px; margin-bottom: 1.95rem;">
                <h3 class="widget-header">
                    সর্বশেষ সংবাদ
                </h3>

                <div class="widget-body">
                    <ul class="list-unstyled">
                        <?php
                                global $randtitles;
                                for($i=1; $i<=9; $i++):  $n = rand(0,5); ?>
                            <li class="media mb-4">

                                <img class="mr-3 mini-thumb" src="assets/img/post-thumb/0.jpg" data-src="assets/img/post-thumb/<?php echo $n +1 ;?>.jpg" alt="Generic placeholder image">
                                <div class="media-body">
                                    <a href="#">
                                        <?php echo $randtitles[$n]; ?>
                                    </a>
                                </div>

                            </li>
                            <?php endfor; ?>
                    </ul>
                </div>
            </div>

            <div class="widget widget-subscribe mb-0 ml-2">
                <div class="card">
                    <div class="card-body" data-toggle="modal" data-target="#subscribe">
                        <span class="fonticon-round-tick icon float-left"></span>
                        <p>ডেক্সটপে নিয়মিত আপডেট পেতে এখনি সাবস্ক্রাইব করুন।</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- row -->

    <div class="clearfix pt-4"></div>
    <?php get_part('others/ad', ['l'=>'wide-ad.gif'] ); ?>
    <div class="clearfix pt-5"></div>

    <div class="row">
        <?php for($i=1; $i<=6; $i++): ?>
        <div class="col-3">
            <?php get_part('others/grid', ['hidedesc'=>true]); ?>
        </div>
        <?php endfor; ?>
        <div class="col-3 text-center">
            <?php get_part('others/ad', ['l'=>'ad.png'] ); ?>
        </div>
        <div class="col-3">
            <?php get_part('others/grid', ['hidedesc'=>true]); ?>
        </div>
    </div>
    <div class="clearfix py-3 text-center">
        <a href="featured.html" class="btn btn-lg btn-secondary">আরও</a>
    </div>

    <div class="row my-4">
        <div class="col-6">
            <h3 class="widget-header">ছবিঘর</h3>
            <?php get_part('others/block-photos'); ?>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <h3 class="widget-header">এমপিও</h3>
                    <?php for($i=1; $i<=5; $i++): ?>
                        <?php get_part('others/grid-vartical', 'grid-lead4', ['noimage' => true]); ?>
                    <?php endfor; ?>
                </div>
                <div class="col-6">
                    <h3 class="widget-header">বিশ্ববিদ্যালয়</h3>
                    <?php for($i=1; $i<=5; $i++): ?>
                        <?php get_part('others/grid-vartical', 'grid-lead4', ['noimage' => true]); ?>
                    <?php endfor; ?>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <?php for($i=1; $i<=4; $i++): ?>
            <div class="col-3">
                <?php get_part('others/block-cats'); ?>
            </div>
        <?php endfor; ?>
    </div>


</div>




<?php get_part('footers/footer'); ?>