<?php include_once('_inc/functions.php'); get_header('News Page - single', '', 'newspage'); ?>


<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-sm">
            <article itemscope itemtype="http://schema.org/Article">
                <header>
                    <h1 class="page-title" itemprop="headline">প্রশ্নপত্র ফাঁসে জড়িত থাকায় ছাত্রত্ব হারাচ্ছে ১৯ শিক্ষার্থী</h1>
                    <div class="sub-info">
                        <span>নিজস্ব প্রতিবেদক</span> |
                        <time datetime="2010-07-03" itemprop="datePublished">ডিসেম্বর ৩১, ২০১৭ - ৯:৪৪ পূর্বাহ্ণ</time>
                        
                        <div class="controls float-right">
                                <span class="fonticon-round-plus" onclick="resizeText(1)"></span>
                                <span class="fonticon-round-minus" onclick="resizeText(-1)"></span>
                                <span class="fonticon-printer"></span>
                        </div>
                    </div>

                    <div id="schema">
                        <meta itemprop="dateModified" content="2010-07-04"/>
                        <meta itemprop="description" content="post excerpt">
                        <meta itemprop="image" content="assets/img/thumb.jpg" />
                        <div itemprop="author" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="dainikshiksha" />
                        </div>
                        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="dainikshiksha"/>
                            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                <meta itemprop="url" content="assets/img/favicon.png"/>
                                <meta itemprop="width" content="300"/>
                                <meta itemprop="height" content="300"/>
                            </div>
                        </div>
                    </div>


                </header>

                <div class="card">
                    <div class="entry-content card-body" id="entry-content" itemprop="mainEntityOfPage">

                        <p style="text-align: justify;">প্রশ্নপত্র ফাঁসের সঙ্গে জড়িত থাকার অভিযোগে ছাত্রত্ব হারাতে যাচ্ছেন ঢাকা বিশ্ববিদ্যালয়ের ১৫ জনসহ চার
                            বিশ্ববিদ্যালয়ের ১৯ ছাত্র। অন্যরা রাজশাহী, কবি নজরুল ও ডেফোডিল ইউনিভার্সিটির ছাত্র।</p>
                        <p style="text-align: justify;">অভিযুক্ত শিক্ষার্থীদের বিরুদ্ধে ফৌজদারি আইনে দুটি মামলা হয়েছে। পাবলিক পরীক্ষা আইন ও তথ্যপ্রযুক্তি
                            আইনে দায়ের করা ওই মামলার তদন্ত করছে পুলিশের অপরাধ তদন্ত বিভাগ সিআইডি। প্রশ্ন ফাঁসের মতো গুরুতর
                            অপরাধে জড়িত শিক্ষার্থীদের ব্যাপারে আনুষ্ঠানিকভাবে বিশ্ববিদ্যালয় কর্তৃপক্ষকে চিঠি দেবে মামলার
                            তদন্ত সংস্থা। এই শিক্ষার্থীরা প্রশ্ন ফাঁস করে কয়েকজন নিজেরা বিশ্ববিদ্যালয়ে ভর্তি হতে পেরেছেন,
                            আবার বিক্রিও করেছেন বলে তদন্তে উঠে এসেছে।</p>
                        <p style="text-align: justify;">তদন্ত-সংশ্নিষ্ট কর্মকর্তা ও বিশ্ববিদ্যালয় কর্তৃপক্ষের সঙ্গে গতকাল শনিবার কথা বলে জানা গেছে, ওই ছাত্রদের
                            ফৌজদারি আইনে আদালতে বিচারের মুখোমুখি হতে হবে। আবার ফৌজদারি মামলার আসামি হওয়ার জন্য বিশ্ববিদ্যালয়
                            কর্তৃপক্ষ ছাত্রত্ব বাতিলের প্রক্রিয়াও শুরু করবে।</p>
                        <p>
                                <a href="http://www.dainikshiksha.com/wp-content/uploads/2017/12/dhaka-and-daffodil-university.jpg"  class="lightbox float-right m-1"><img class=" wp-imag  " data-src="http://www.dainikshiksha.com/wp-content/uploads/2017/12/dhaka-and-daffodil-university.jpg"
                                alt="" width="378" height="252" src="assets/img/post-thumb/0.jpg"></a>
                        </p>
                        <p style="text-align: justify;">জানতে চাইলে সিআইডির বিশেষ পুলিশ সুপার মোল্যা নজরুল ইসলাম&nbsp; বলেন, ঢাকা বিশ্ববিদ্যালয়ের ভর্তি প্রক্রিয়ায়
                            ‘ঘ’ ইউনিটসহ একাধিক পরীক্ষার প্রশ্ন ফাঁসের সঙ্গে যারা বিভিন্ন সময়ে জড়িয়েছে, তাদের অপরাধ-সংক্রান্ত
                            যাবতীয় তথ্য তদন্তে উঠে এসেছে। শিগগিরই তাদের বিরুদ্ধে চার্জশিট দাখিল করা হবে।</p>
                        <p style="text-align: justify;">মামলার তদন্ত কর্মকর্তা সিআইডির সহকারী পুলিশ সুপার সুমন কুমার দাশ&nbsp; জানান, প্রশ্ন ফাঁসের সঙ্গে
                            জড়িত ২৫ জনকে গত তিন মাসে গ্রেফতার করা হয়েছে। তাদের মধ্যে ১৯ জন ছাত্র। শিক্ষার্থীদের তথ্য বিশ্ব্ববিদ্যালয়
                            কর্তৃপক্ষকে আনুষ্ঠানিকভাবে জানানো হবে। একজন জামিনে ছাড়া অন্যরা জেলহাজতে আছেন।</p>
                        <p style="text-align: justify;">জানতে চাইলে ঢাকা বিশ্ববিদ্যালয়ের প্রক্টর প্রফেসর এ কে এস গোলাম রব্বানী&nbsp; বলেন, প্রশ্ন ফাঁসের
                            ব্যাপারে ‘জিরো টলারেন্স’ নীতি বিশ্ববিদ্যালয় কর্তৃপক্ষের। জালিয়াতির মাধ্যমে কেউ ভর্তি হলে বিশ্ববিদ্যালয়
                            আইনে ব্যবস্থা নেওয়া হবে। অভিযোগ যাচাই-বাছাই করে তাদের ছাত্রত্ব বাতিল করা হবে।</p>
                        <p style="text-align: justify;">সিআইডির দায়িত্বশীল সূত্র জানায়, ২০১৫ ও ২০১৬ সালে ‘ঘ’ ইউনিটের প্রশ্নপত্র ফাঁসের সন্দেহাতীত প্রমাণ
                            পেয়েছে পুলিশের অপরাধ তদন্ত বিভাগ সিআইডি। এ চক্রের সঙ্গে বিভিন্ন ধাপে অর্ধশত ব্যক্তির নাম উঠে
                            এসেছে।
                        </p>
                        <p style="text-align: justify;">ছাত্রত্ব হারাচ্ছেন যারা :প্রশ্ন ফাঁসের ঘটনায় ছাত্রত্ব হারাচ্ছেন- ঢাকা বিশ্ববিদ্যালয়ের পদার্থবিজ্ঞান
                            বিভাগের ছাত্র মহিউদ্দিন রানা, ফলিত রসায়ন বিভাগের আবদুল্লাহ আল-মামুন, প্রাণিবিজ্ঞান বিভাগের ফরহাদ
                            হোসেন নাহিদ, ভূগোল ও পরিবেশ বিভাগের নাভিদ আনজুম তনয়, রাষ্ট্রবিজ্ঞান বিভাগের রিফাত হোসেন, মনোবিজ্ঞান
                            বিভাগের মো. বায়োজিদ, স্বাস্থ্য ও অর্থনীতি বিভাগের ফারদিন আহমেদ সাব্বির, অর্থনীতির তানভীর আহমেদ
                            মল্লিক, সংস্কৃতের প্রসেনজিৎ দাশ, বিশ্ব ধর্মতত্ত্বের আজিজুল হাকিম, ইতিহাসের টি এম তানভীর হাসনাইন,
                            শিক্ষা ও গবেষণা বিভাগের সুজাউর রহমান, ইসলামিক স্টাডিজের রাফসান কবির, বাংলা বিভাগের আখিনুর রহমান
                            অনিক, পালি ও বুড্ডিস্ট স্টাডিজের নাজমুল হোসেন নাইম, ময়মনসিংহের কবি নজরুল বিশ্ববিদ্যালয়ের লোক-প্রশাসন
                            বিভাগের সজীব আহমেদ, রাজশাহী বিশ্ববিদ্যালয়ের নৃবিজ্ঞান বিভাগের মারুফ হোসেন, সমাজবিজ্ঞান বিভাগের
                            বনি ইসরাইল ও ডেফোডিল ইউনিভার্সিটির কম্পিউটার সায়েন্স বিভাগের ফরহাদ হোসেন। তারা প্রথম থেকে তৃতীয়
                            বর্ষের ছাত্র।</p>
                        <p style="text-align: justify;">ছাত্র ছাড়া প্রশ্ন ফাঁসের ঘটনায় এরই মধ্যে আরও যাদের নাম এসেছে তারা হলেন- রাজশাহী বিশ্ববিদ্যালয়ের সাবেক
                            ছাত্র ও নাটোর জেলার ক্রীড়া কর্মকর্তা রকিবুল ইসলাম রকিবুল হাসান ইসামী, ছাপাখানার কর্মচারী খান
                            বাহাদুর নয়ন ও এনামুল হক আকাশ।</p>
                        <p style="text-align: justify;">প্রশ্ন ফাঁসের সঙ্গে জড়িত সবাই পুলিশের কাছে ১৬১ ধারায় জবানবন্দি দিয়েছেন। আদালতে স্বীকারোক্তিমূলক জবানবন্দি
                            দিয়েছেন ২৩ জন। সর্বশেষ গত বুধবার জামালপুরের মাদারগঞ্জ থেকে গ্রেফতার করা হয় কবি নজরুল বিশ্ববিদ্যালয়ের
                            ছাত্র সজীব আহমেদকে। পুলিশের জিজ্ঞাসাবাদে তিনি জানান, খালাতো বোনের মাধ্যমে ফার্মগেটের পিপলস ছাপাখানার
                            কর্মচারী খান বাহাদুরের সঙ্গে তার পরিচয় হয়। তার মাধ্যমে ২০১৬ সালের ঢাকা বিশ্ববিদ্যালয়ের ‘ঘ’ ইউনিটের
                            কম্পোজ করা প্রশ্নপত্র ফাঁস করেন তিনি। সাড়ে ১৬ লাখ টাকা নিয়ে পাঁচজনকে জালিয়াতির মাধ্যমে ঢাকা বিশ্ববিদ্যালয়ে
                            ভর্তি করিয়েছেন তারা। এর মধ্যে ১০ লাখ টাকা খান বাহাদুরকে দিয়েছেন। বাকি টাকা সজীব নিজের কাছে রাখেন।</p>
                        <p style="text-align: justify;">এ ছাড়া প্রশ্ন ফাঁসচক্রে ইশরাক আহমেদ রাফি নামের ঢাকা বিশ্ববিদ্যালয়ের আরেক ছাত্র রয়েছেন, যার বিরুদ্ধে
                            ময়মনসিংহে গাড়ি ভাংচুরের ঘটনায় মামলা রয়েছে।</p>
                        <p style="text-align: justify;">সিআইডি জানায়, ২০১৬ সালে বাহাদুরকে তিন লাখ টাকা দিয়ে ঢাকা বিশ্ববিদ্যালয়ের ‘ঘ’ ইউনিটের প্রশ্ন বের করে
                            আনেন রাজশাহী বিশ্ববিদ্যালয়ের সাবেক ছাত্র রকিবুল। এরপর রাজশাহী বিশ্ববিদ্যালয়ের দুই ছাত্র বনি ইসরাইল
                            ও মারুফ হোসেনকে ব্যবহার করে ছাত্র সংগ্রহ করে টাকার বিনিময়ে প্রশ্ন সরবরাহ করে তাদের ভর্তি করানো
                            হয়। বিভিন্ন সময় শুধু বনি ও মারুফ প্রশ্ন বিক্রির ৩৮ লাখ টাকা রকিবুলকে দিয়েছেন।</p>


                    </div>
                </div>
            </article>

            <div class="clearfix pt-3"></div>
            <?php get_part('others/share'); ?>
            <div class="clearfix pt-5"></div>

            <?php get_part('others/ad', ['l'=>'wide-ad.gif'] ); ?>
            <div class="clearfix pt-5"></div>

            <div id="comments">
                <p class="h3 mb-3">পাঠকের মন্তব্যঃ ২টি</p>
                <div class="media">
                    <img class="mr-3 avatar" src="assets/img/avatar.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <div class="media-holder">
                            <h5 class="mt-0">comment@email.com
                                <a href="#" class="reply float-right">আপনার অভিমত</a>
                            </h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                            lacinia congue felis in faucibus.
                        </div>

                        <div class="media mt-3">
                            <img class="avatar mr-3" src="assets/img/avatar.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="media-holder">
                                    <h5 class="mt-0">comment@email.com
                                        <a href="#" class="reply float-right">আপনার অভিমত</a>
                                    </h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                    Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- comments -->
        </div>
        <!-- col -->
        <div class="col-sm" style="max-width: 325px;">
            <?php get_part('others/sidebar'); ?>
        </div>
    </div>
    <!-- row -->
</div>




<?php get_part('footers/footer', ['isnews' => true]); ?>