<?php include_once('_inc/functions.php'); get_header('News Page - single', '', 'newspage'); ?>


<div class="container-fluid" id="content">
    <div class="row">
        <div class="col-sm">
            <article itemscope itemtype="http://schema.org/Article">
                <header>
                    <h1 class="page-title" itemprop="headline">রঙে রঙিন সরস্বতী</h1>
                    <div class="sub-info">
                        <span>নিজস্ব প্রতিবেদক</span> |
                        <time datetime="2010-07-03" itemprop="datePublished">ডিসেম্বর ৩১, ২০১৭ - ৯:৪৪ পূর্বাহ্ণ</time>

                        <div class="controls float-right">
                            <span class="fonticon-round-plus" onclick="resizeText(1)"></span>
                            <span class="fonticon-round-minus" onclick="resizeText(-1)"></span>
                            <span class="fonticon-printer"></span>
                        </div>
                    </div>

                    <div id="schema">
                        <meta itemprop="dateModified" content="2010-07-04" />
                        <meta itemprop="description" content="post excerpt">
                        <meta itemprop="image" content="assets/img/thumb.jpg" />
                        <div itemprop="author" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="dainikshiksha" />
                        </div>
                        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="dainikshiksha" />
                            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                <meta itemprop="url" content="assets/img/favicon.png" />
                                <meta itemprop="width" content="300" />
                                <meta itemprop="height" content="300" />
                            </div>
                        </div>
                    </div>


                </header>

                <div class="card">
                    <div class="entry-content card-body" id="entry-content" itemprop="mainEntityOfPage">

                        <?php for($i=1; $i<=4; $i++): ?>
                        <p style="width:500px; margin: auto;">
                            <a href="assets/img/photo/<?php echo $i; ?>.jpg" class="lightbox -block m-1">
                                <img class=" wp-imag  "  src="assets/img/post-thumb/0.jpg" data-src="assets/img/photo/<?php echo $i; ?>.jpg"
                                    width="500" title="রাত পোহালেই দেবী সরস্বতীর পূজা। প্রতিমা তৈরি শেষ করেছেন প্রতিমাশিল্পীরা। এখন রং করার পালা। নানা বর্ণে রাঙিয়ে তোলা হচ্ছে দেবীকে।
                                    জগন্নাথ হল, ঢাকা বিশ্ববিদ্যালয়, ২১ জানুয়ারি। ছবি: শুভ্র কান্তি দাশ">
                            </a>

                            রাত পোহালেই দেবী সরস্বতীর পূজা। প্রতিমা তৈরি শেষ করেছেন প্রতিমাশিল্পীরা। এখন রং করার পালা। নানা বর্ণে রাঙিয়ে তোলা হচ্ছে দেবীকে।
                            জগন্নাথ হল, ঢাকা বিশ্ববিদ্যালয়, ২১ জানুয়ারি। ছবি: শুভ্র কান্তি দাশ
                        </p>
                        <br/>
                        <?php endfor; ?>

                    </div>
                </div>
            </article>

            <div class="clearfix pt-3"></div>
            <?php get_part('others/share'); ?>
            <div class="clearfix pt-5"></div>

            <?php get_part('others/ad', ['l'=>'wide-ad.gif'] ); ?>
            <div class="clearfix pt-5"></div>

            <div id="comments">
                <p class="h3 mb-3">পাঠকের মন্তব্যঃ ২টি</p>
                <div class="media">
                    <img class="mr-3 avatar" src="assets/img/avatar.jpg" alt="Generic placeholder image">
                    <div class="media-body">
                        <div class="media-holder">
                            <h5 class="mt-0">comment@email.com
                                <a href="#" class="reply float-right">আপনার অভিমত</a>
                            </h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                            vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec
                            lacinia congue felis in faucibus.
                        </div>

                        <div class="media mt-3">
                            <img class="avatar mr-3" src="assets/img/avatar.jpg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="media-holder">
                                    <h5 class="mt-0">comment@email.com
                                        <a href="#" class="reply float-right">আপনার অভিমত</a>
                                    </h5>
                                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                                    vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                                    Donec lacinia congue felis in faucibus.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- comments -->
        </div>
        <!-- col -->
        <div class="col-sm" style="max-width: 325px;">
            <?php get_part('others/sidebar'); ?>
        </div>
    </div>
    <!-- row -->
</div>




<?php get_part('footers/footer', ['isnews' => true]); ?>