@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";
 


.sharrre {
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	margin-right: 5px;
	overflow: hidden;
	height: 34px;
	position: relative;
    border-radius: 40px;
    border:1px solid;
}

/* Buttons */
.sharrre .count {
	font-weight: bold;
	position: relative;
	text-align: center;
}

/* Medium */
.share-medium .share,
.share-medium .count {
	display: inline-block;
	padding: 0;
	color: #fff!important;
	text-decoration: none!important;
	font-size: 14px;
	height: 32px;
	line-height: 32px;
}

.share-medium .share {
    padding-left: 12px;
    width: 28px;
    padding-right: 0;
    float: left;
}

.share-medium .count {
	float: right;
    width: 32px;
    font-size: .7rem;
}
.fb-save.fb_iframe_widget {
    float: right;
    margin-top: 3px;
}
.share-medium .facebook .share 		{ width: 78px; }
.share-medium .twitter .share 		{ width: 59px; }
.share-medium .googlePlus .share 		{ width: 69px; }


/* Appearance - filled */
.share-filled .twitter		{ background: #09b0ed; border-color:#09b0ed; }

.share-filled .facebook		{ background: #3d5a98; border-color:#3d5a98; }

.share-filled .googlePlus	{ background: #dd4c39; border-color:#dd4c39; }

.shareit{
    border-color: transparent;
    .share{
        width: auto!important;
        color: $gray-700!important;
    }
}

.modal-open, .hidden-scroll{
    .container-fluid,  .container {
        filter: blur(3px) grayscale(30%);
    }
    #scrolltotop, #fb, #bottom-bar{
        display: none!important;
    }
}
.sl-overlay{
    background-color: #000;
    opacity: .5;
}
.lightbox{
    position: relative;
    display: inline-block;

    &:after{
        content: "\f115";
        position: absolute;
        font-size: 1rem;
        font-family: fonticon;
        top: .2rem;
        line-height: 1;
        right: .2rem;
        background: rgba(0, 0, 0, 0.52);
        padding: 6px;
        color: #fff;
        font-weight: bold;
        border-radius: 4px;
    }
}
/* general
----------------------------------------------*/
.container-fluid{
    max-width: 1300px;
}
.align-container{
    display: table;
    height: 100%;
    .align-middle{
        display: table-cell;
    }
}
.d-none{
    display: none!important;
}
.card{
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: .2rem;
    border: none;
}
.text-light{
    opacity: .65!important;
}
.break{
    height: 1rem;
    display: block;
}
.form-control:focus{
    box-shadow: none;
}
h3, .h3{
    color: $indigo;
}
/* header
----------------------------------------------*/
#header{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    background-color: $white;
    color: $gray-700;

    #hero{

        img{
            height: 75px;
            width:auto;
        }
    }
    .header-logo img{
        padding: 1rem 0;
    }
}
.topbar {
    line-height: 2rem;
    font-size: .75rem;

    span{
        font-size: 1.3rem;
        display: inline-block;
        line-height: 1;
        position: relative;
        top: 0.15rem;
    }
}
.btn-x {
    background-color: $primary;
    color: #fff!important;
    padding: 1px 9px;
    border-radius: 31px;
    text-decoration: none!important;
}

/* ads
-----------------------------------------------*/
.ad-space{
    //background-color: $gray-700;
    padding: .5rem 0;
}
.ad-space-top{
    .col-3{
        padding-left: 5px;
        padding-right: 5px;
    }
    .row{
        margin-left: -5px;
        margin-right: -5px;
    }
}
.ad-container{
    background-color: $gray-300;
    max-width:100%;
    max-height: 100%;
    overflow: hidden;
}
.ad {
    display: inline-block;
    // transform: scale(.9);
    // transform-origin: 0 0;
    // width: 111.11112%;
}


/* content
------------------------------------------------*/
#content{
    padding-top: 2rem;
    margin-top: .5rem;
    header{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
}
.entry-content {
    line-height: 1.7;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #000;
}

/* newspage
------------------------------------------------*/
.newspage .page-title,
.newspage .sub-info
{
    color: $gray-700;
}
.newspage .page-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;

}
.controls {
    background: #495057;
    color: #fff;
    padding: 0 .3rem;
    border-radius: 1rem;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    span{
        cursor: pointer;
        padding: .2rem;
    }
}


#comments{


    .avatar{
        height: 60px;
        border-radius: 60px;
    }
    .reply{
        font-size: .6rem;
        margin-right: 1rem;
        display: none;
    }
    .media-holder {
        background: $gray-300;
        padding: 1.5rem 2rem;
        border-radius: 2rem;
        color:$black;
        &:hover{
            .reply{
                display: block;
            }
        }
    }
}


/* category
------------------------------------------------*/
.archive{
    .page-title{
        margin-bottom: 3.8rem;
    }
}
.grid{
    margin-bottom: 30px;
    @include transition($ease);
    overflow: hidden;
    text-decoration: none!important;
    display: block;
    img{
        @include transition($ease);
        opacity: .85;
    }

    .card-body{
        padding: .9rem;
    }

    &.card:hover{
        box-shadow: 0 3px 6px 1px rgba(0,0,0,0.24);
        img{
            opacity: 1;
        }
    }
    .card-title{
        color: $black;
        height: 3rem;
        overflow: hidden;
        margin-bottom: .65rem;
        padding-top: .15rem;
    }
    .card-text{
        height: 2.2rem;
        overflow: hidden;
        font-size: .85rem;
        color: lighten($gray-700, 7%);
    }
}
.grid-vartical{
    display: flex!important;
    margin-bottom: 1rem;
    flex-direction: initial;
    height: 4rem;

    img{
        height: 4rem;
        opacity: 1;
        margin-left: -1rem;
    }

    .media-body {
        padding: 0 0.5rem;

        h5{
            height: 4rem;
            display: table-cell;
            vertical-align: middle;
            font-size: .8rem;
            //line-height: 1.5;
            color: $black;
        }
    }
}
.grid-lead1{
    position: relative;
    box-shadow: 0 3px 6px 1px rgba(0,0,0,0.24);

    img{
        height: auto;
        width: 100%;
        opacity: 1;
    }

    .media-body {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 0 0.5rem;

        h5{
            height: 6.5rem;
            display: table-cell;
            vertical-align: middle;
            font-size: 1.6rem;
            color: #fff;
            font-weight: bold;
        }
    }
}
.grid-lead2{
    h5{
        height: 5.3rem !important;
        font-size: 1.5rem !important;
    }
}

.grid-lead4{
    h5{
        font-size: .95rem !important;
    }
}
.block-photos{
    height: 24rem;
}
.grid-photo{
    display: block;
    position: relative;
    margin-bottom: .5rem;
    border-radius: .2rem;
    overflow: hidden;
    height: 45%;

    img{
        max-width: 100%;
    }
    .caption{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        color: #fff;
        padding: .1rem .8rem;
        background-color: rgba(0, 0, 0, 0.6);
        @include transition($ease);
    }

    &.thumb{
        height: auto;
        max-width: 87%;
        margin-left: .6rem;
    }
    
    &:hover {
        img{
            filter: grayscale(0);
        }
        .caption{
            opacity: 0;
        }
    }
    
    &:last-child{
        margin-bottom: 0!important;
    }
}

.block-cats{
    
    .grid{
        margin-bottom: 0;
    }
    .card-body{
        padding: 1.25rem .5rem;
    }
    .news-title{
        font-size: 1rem;
        border-bottom: 1px solid $gray-300; 
        color: #000;
        padding: .25rem;
        display: block;
        text-decoration: none!important;

        &:last-child{
            border: 0;
            padding-bottom: 0;
        }
 
        span{
            display: table-cell;
            vertical-align: middle;
            height: 3.5rem;
        }
        img{
            border-radius: .2rem;
        }
    }
}

.cat-name {
    position: relative;
    height: auto!important;
    padding-top: .3rem;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        background-color: $indigo;
        width: 20px;
    }
}
.pagination{
    .page-link{
        border-radius: 1rem!important;
        border: 0;
        min-width: 29px;
        margin: 0 .3rem;
        text-align: center;
        transform: scale(.8);
        @include transition($ease);

        &:hover{
            background-color: #fff;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
            transform: scale(1);
        }
    }
    .active .page-link{
        background-color: $primary;
        transform: scale(1.1);
    }
    .npl{
        transform: scale(1);
    }
}



/* sidebar
------------------------------------------------*/
#sidebar{
    color: $gray-700;
    a{
        color: $gray-700;
    }
    &.fixed {
        position: fixed;
        top: 0;
        width: 290px;
    }

    &.bottom {
        position: absolute;
        bottom: 0;
        top: auto;
        width: 290px;
    }
    .widget:last-child{
        margin-bottom: 0!important;
    }
}
.widget-header{
    color: $indigo;
    margin-bottom: 2rem;
    border-bottom: 1px solid $indigo;
}
.mini-thumb{
    height: 40px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    border-radius: .15rem;
}
.widget{
    font-size: .85rem;
    line-height: 1.4;
    margin-bottom: 4rem;
    .list-unstyled{
        li:last-child{
            margin-bottom: 0!important;
        }
    }

    &.widget-latest{
        a{
            display: table-cell;
            height: 40px;
            vertical-align: middle;
        }
    }

    &.widget-search{
        .row{
            margin: 0;
        }
        .form-group{
            margin-bottom: .5rem;
        }
        .btn {
            background: $gray-700;
            color: #fff;
            padding: 0 .8rem;
            border-radius: 1rem;
            border: 0;
            line-height: 1.5rem;
        }
        .cdp-m {
            margin: 0 .2rem;
        }
    }

    &.opinion{
        img {
            height: 50px;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
            border-radius: .15rem;
        }
        a{
            width: 225px;
        }
    }
    
    &.widget-subscribe{
        .card{
            height: 9rem;
            overflow: hidden;
            background-color: $gray-700;
            @include transition($ease);
            color: #fff;
            cursor: pointer;
            &:hover{
                box-shadow: 0 3px 6px 1px rgba(0,0,0,0.24);
            }
        }

        .icon{
            font-size: 5rem;
            line-height: 1;
            margin-top: .8rem;
            display: inline-block;
            margin-right: 1rem;
        }
        p{
            height: 6.5rem;
            margin: 0;
            display: table-cell;
            vertical-align: middle;
            font-size: 1.2rem;
        }
    }
}



/* homepage
------------------------------------------------*/
.homepage{
    .widget .media {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.35rem !important;
    }
}


/* footer
------------------------------------------------*/
#footer{

    .footer-brand{
        background-color: $gray-600;
        color: #fff;
        a{
            color: #fff!important;
        }
        img{
            max-height: 40px;
        }        
        padding: 1rem 0;
        a{
            text-decoration: none!important;
        }
    }

    .footer-address{
        padding: 1rem 0 3.23rem 0;
        background-color: $gray-700;
        color: #fff;
        a{
            color: #fff!important;
        }
        .footer-address-content{
            span{
                margin-left: 8rem;
                display: block;
                margin-bottom: .8rem;
            }
            strong{
                float: left;
                font-weight: normal;
                color: rgba(255, 255, 255, 0.65);
            }
        }
    }
}

#extra{


    .appdownloadmodal {
        .btn{
            margin-left: 267px;
            margin-top: 70px;
            display: block;
            white-space: normal;
        }
        .modal-title{
            display: block;
            width: 100%;
        }
    }

    #fb{
        position: fixed;
        right: 1rem;
        bottom: 3.4rem;
        background: #4267b2;
        height: 50px;
        width: 50px;
        border-radius: 50px;
        box-shadow: 0 3px 6px 1px rgba(0,0,0,0.24);
        overflow: hidden;
        @include transition($ease);


        .fb-opener{
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }
        .fb-closer{
            position: absolute;
            top: 9px;
            right: 13px;
            display: none;
            font-size: 11px;
            line-height: 26px;
            padding: 0 10px;
            background-color: $indigo;
            color: #fff;
            border: 1px solid $indigo;
            border-radius: 2px;
        }

        .fb-box{
            opacity: 0;
            width: 340px;
            @include transition($ease);
        }
        &.active{
            height: 400px;
            width:340px;
            background-color: #fff;
            border-radius: .2rem;
            .fb-box{
                opacity: 1;
            }
            .fb-closer{
                display: inline-block;
            }
            .fb-opener{
                display: none;
            }
        }
    }
    #scrolltotop{
    position: fixed;
        bottom: 1rem;
        left: 1rem;
        cursor: pointer;

        .arrow-up {
            height: 4rem;
            width: 3.4rem;
            display: block;
             position: relative;
             transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
            overflow: hidden;
          }
 
          
          .left-arm {
            position: absolute;
            z-index: 1;
            background-color: transparent;
            top: .9rem;
            left: 0;
            width: 2rem;
            display: block;
            transform: rotate(-45deg);
            &:after {
              content: "";
              background-color: $indigo;
              width: 2rem;
              height: .1rem;
              display: block;
              border-radius: 1px;
              transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
              transform-origin: right center;
              z-index: -1;
              box-shadow: 0 1px 4px 1px rgba(0,0,0,0.14);
            }
          }
          
          .right-arm {
            position: absolute;
            z-index: 1;
            background-color: transparent;
            top: .9rem;
            left: 1.4rem;
            width: 2rem;
            display: block;
            transform: rotate(45deg);
            border-radius: 2px;
            &:after {
              content: "";
              background-color: $indigo;
              width: 2rem;
              height: .1rem;
              display: block;
              border-radius: 1px;
              transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
              transform-origin: left center;
              z-index: -1;
              box-shadow: 0 1px 4px 1px rgba(0,0,0,0.14);
            }
          }
          
          .arrow-up:hover {
            transition: all .1s;
            .left-arm:after {
              transform: rotate(-10deg);
            }
            .right-arm:after {
              transform: rotate(10deg);
            } 
          }
 
    }

    #reveal-on-scroll{
        display: none;
    }

}


#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.4rem;
    padding-top: .45rem;
    background-color: rgba(0,0,0, 0.92);
    z-index: 9999;
    padding-right: 15px;
    padding-left: 15px;
    @include transition($ease);
    transform: translateY(50px);

    &.show{
        transform: translateY(0);
    }

    a{
        text-decoration: none;
        margin-right: 1rem;
        color: #fff;
    }
    img{
        position: relative;
        height: 1rem;
        top: -.1rem;
    }
}
