@font-face {
  font-family: "fonticon";
  src: url("../fonts/fonticon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fonticon";
    src: url("../fonts/fonticon.svg#fonticon") format("svg");
  }
}

[class^="fonticon-"]:before, [class*=" fonticon-"]:before,
[class^="fonticon-"]:after, [class*=" fonticon-"]:after {   
  font-family: fonticon;
  font-style: normal;
}

.fonticon-twitter:before { content: "\f100"; }
.fonticon-google:before { content: "\f101"; }
.fonticon-facebook:before { content: "\f102"; }
.fonticon-youtube:before { content: "\f103"; }

.fonticon-printer:before { content: "\f104"; }
.fonticon-round-minus:before { content: "\f105"; }
.fonticon-round-lock:before { content: "\f106"; }
.fonticon-menu-bars:before { content: "\f107"; }
.fonticon-round-exclamation:before { content: "\f108"; }
.fonticon-cross:before { content: "\f109"; }
.fonticon-round-bars:before { content: "\f10a"; }
.fonticon-round-question:before { content: "\f10b"; }
.fonticon-share:before { content: "\f10c"; }
.fonticon-round-plus:before { content: "\f10d"; }
.fonticon-round-tick:before { content: "\f10e"; }
.fonticon-clock:before { content: "\f10f"; }
.fonticon-settings:before { content: "\f110"; }
.fonticon-calendar:before { content: "\f111"; }
.fonticon-round-close:before { content: "\f112"; }
.fonticon-favorite:before { content: "\f113"; }
.fonticon-round-profile:before { content: "\f114"; }
.fonticon-round-search:before { content: "\f115"; }
.fonticon-location:before { content: "\f116"; }